<!-- Header -->
<style>
    #cart:hover, #login:hover, #register:hover {
        font-size: large;
        font-weight: bolder;
        background-color: inherit !important;
    }
    #userMenuButton:hover {
        font-size: large;
        font-weight: bolder;
        background-color: inherit !important;
        color: inherit !important;
    }
    button:hover {
        filter: brightness(90%);
    }
</style>
{{#if user}}
<header class="bg-dark text-white py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <a href="/product/all">
            <h1 class="m-0">Clothing Shop</h1>
        </a>
        <div class="d-flex align-items-center">
            <!-- Giỏ hàng -->
            <a href="/user/cart_details" class="btn btn-outline-light position-relative" id="cart">
                <i class="bi bi-cart-fill"></i> Cart

            </a>

            <!-- Biểu tượng người dùng (Dropdown khi đã đăng nhập) -->
            <div class="dropdown ms-2">
                <button class="btn btn-outline-light dropdown-toggle" type="button" id="userMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenuButton">
                    <li><a class="dropdown-item" href="/user/order_details?type=pending">Hàng đã đặt</a></li>
                    <li><a class="dropdown-item" href="/user/order_details?type=shipping">Hàng đang giao</a></li>
                    <li><a class="dropdown-item" href="/user/order_details?type=delivered">Hàng đã nhận</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/user/user_info">Thông tin tài khoản</a></li>
                    <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
{{else}}
<header class="bg-dark text-light py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <a href="/product/all">
            <h1 class="m-0">Clothing Shop</h1>
        </a>
        <div class="d-flex align-items-center">
            <!-- Giỏ hàng -->
            <a href="cart.html" class="btn btn-outline-light position-relative" id="cart">
                <i class="bi bi-cart-fill"></i> Cart
            </a>
            <a href="/user/login" class="btn btn-outline-light ms-2" id="login">Login</a>
            <a href="/user/register" class="btn btn-outline-light ms-2" id="register">Register</a>
        </div>
    </div>
</header>
{{/if}}